@charset "utf-8";

*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #f5f5f5;
    padding: 40px 20px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.grid{ /* 그리드 레이아웃 자동 반응형 만들기 */
    display: grid; /* 격자 그리드로 (행과열) 배치 */
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    max-width: 900px;
    gap: 16px;
    margin: 0 auto;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2) ;
    transition: transform 0.2s;
}
.card:hover{
    transform: translateY(-4px);
}

.card-thumb{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: block;
}

.card-info{
    padding: 11px;
}

.card-info h3{
    font-size: 14px;
    margin-bottom: 4px;

}

.card-info span{
    font-size: 12px;
    color: #888888;
}

.modal-bg{
    display: none;
    position: fixed;
    inset: 0; /* 화면을 꽉 채움 */
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-bg.open{
    display: flex;
}

/* .modal-bg dispaly:none : 숨겨짐
.modal-bg.open dispaly:flex : 보여짐 */

.modal{
    background-color: #ffffff;
    width: 90%;
    width: 500px;
    overflow: hidden;
    position: relative;
}